
html, body, #root, .App {
  height: 100%;
  font-family: ("https://fonts.googleapis.com/css?family=Ubuntu:700");
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: url('./images/background.jpg');
  background-size: cover;
  background-repeat: repeat;
  margin: auto;
}

@media (min-width: 1367px) {
  body {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  body {
    width: 65%;
  }
}
